/* Wrapper */

:global .gt__text-editor-wrapper {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Toolbar */

:global .gt__text-editor-toolbar {
  flex: 0 0 0;
}


/* Content */

:global .gt__text-editor-content {
  padding: 0 10px;
  flex: 1 1 0;
}
